body {
    overflow-y: scroll;
    overflow-x: hidden;
}
.grow {
    flex-grow: 1;
}
#map {
    width: 100%;
}
.control-panel {
    position: absolute;
    top: 0;
    right: 10px;
    max-width: 210px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    outline: none;
}
/* .control-items{
    margin: 4.5% !important;
}
.side-grid{
    width:20%;
}
.search-paper {
    padding: 50px 10px 0 10px;
    margin-bottom: 2%;
    width: 29%;
    min-height: 933px;
} 
.half-paper {
    margin: 4.5%;
    width: 40%;
    min-height: 700px;
} 
.control {
    margin: 4.5%;
    width:100%;
    min-height: 300px;
}
.control-large {
    margin: 4.5%;
    width:100%;
    min-height: 613px;
    height: 700px;
    overflow: auto;
}
.control-container {
    padding: 3%;
}
.tabs {
    padding: 3%;
    margin: 4.5%;
    width:100%;
}
.tab {
    min-width:30% !important;
} 
.container {
    padding: .5%;
    position:relative;
    min-height: 1000px;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: right top;
} 
.inside-container {
    padding: 3%;
    position:relative;
    min-height: 700px;
} *
.app p {
    color: blue;
}
.overflow-holder{
    overflow: auto;
    min-height:700px;
}  */
